.Select {
  font-size: 1em;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 24px;
  display: inline-block;
  transition: border 0.1s ease, width 0.1s ease;

  &Label {
    background: inherit;
    color: var(--primary-color) !important;
    font-size: 0.8em;
    text-align: center;
  }
}

.BackgroundMain {
  background: var(--background-color);
}

.Option {
  transition: height 0.1s ease;
  background: transparent;
}

.SelectShadow {
  box-shadow: -2px 12px 50px -6px rgba(0, 0, 0, 0.5);
}
