.ivory {
  &-button {
    min-width: 32px;
    &-small {
      min-width: 24px;
    }

    &-large {
      min-width: 48px;
    }
  }
}

.btn {
  &-disabled {
    background-color: hsla(0, 0%, 50%, 0.4) !important;
  }

  &-disabled:hover {
    background-color: hsla(0, 0%, 50%, 0.4) !important;
  }
}
